.breadcrumbs {
  position: relative;
  margin: 0 0 20px 0;

  .breadcrumbs__phases {
    position: relative;
    background: $white;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0 18px;
    box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);

    .breadcrumbs__back {
      position: absolute;
      top: 50%;
      margin-top: -23px;
      left: 25px;
      color: $blue;
      padding: 6px 20px 6px 8px;
      &:hover {
        color: $darkblue;
        &:before {
          background-color: $darkblue;
        }
      }
      &:before {
        content: '';
        position: relative;
        display: inline-block;
        border-radius: 2px;
        height: 28px;
        width: 28px;
        vertical-align: middle;
        margin-right: 16px;
        background: $blue url('../assets/images/arrow-left.png') no-repeat;
        background-position: 10px 8px;
        background-size: auto 12px;
        transition: $transition;
      }
      span {
        position: relative;
        top: 1px;
      }
    }
    ul {
      position: relative;
      display: inline-block;
      list-style: none;
      margin: 0;
      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 12px;
        left: 0;
        width: 100%;
      }

      li {
        position: relative;
        display: inline-block;
        font-size: 12px;
        font-weight: $font-regular;
        color: #9DA6BA;
        line-height: 19px;
        letter-spacing: 0.2px;
        text-transform: none;
        margin-left: 100px;
        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 12px;
          border-top: 2px solid #ECF0F1;
          right: 50%;
          width: calc(100% + 110px);
        }
        &:after {
          display: none;
        }
        &:first-child,
        &:last-of-type() {
          &:after {
            content: '';
            position: absolute;
            display: block;
            top: 12px;
            border-top: 2px solid $white;
            right: 0;
            width: 50%;
            margin: 0;
          }
        }
        &:first-child {
          margin-left: 0;
          &:before {
            display: none;
          }
          &:after {
            right: inherit;
            left: 0;
          }
        }

        &.current {
          &:before {
            border-color: $blue;
            z-index: 1;
          }

          span {
            background: $blue;
          }
        }
        &.done {
          &:before {
            border-color: $blue;
            z-index: 1;
          }
          &.sub {
            span {
              &:before {
                background-position: 4.5px 5.5px;
                background-size: auto 9px;
              }
            }
          }

          span {
            background: $blue;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              background: url('../assets/images/check-breadcrumbs.png') no-repeat;
              background-position: 7px 8px;
              background-size: auto 11px;
              width: 100%;
              height: 100%;
            }
          }
        }
        &.sub {
          margin-top: 3px;
          margin-left: 40px;
          &:before {
            top: 9px;
            width: calc(100% + 45px);
          }

          span {
            width: 20px;
            height: 20px;
            margin-bottom: 11px;
          }
        }

        span {
          position: relative;
          display: block;
          margin: 0 auto 8px;
          width: 26px;
          height: 26px;
          background: #ECF0F1;
          border-radius: 100px;
          z-index: 2;
        }
      }
    }
  }
}

.creation-block {
  position: relative;
  margin-bottom: 20px;

  .creation-block__guidance {
    background: $darkblue;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);
    margin: 0 0 20px 20px;
    padding: 17px 50px 20px;
    text-align: center;

    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        width: 24%;
        text-align: center;
        font-size: 12px;
        font-weight: $font-regular;
        color: $white;
        line-height: 23px;
        letter-spacing: 0.2px;
        &:before {
          content: '';
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          top: -1px;
          margin-right: 20px;
          background: url('../assets/images/warning.png') no-repeat;
          background-position: center;
          background-size: auto 20px;
        }

        b {
          font-weight: $font-semibold;
        }
      }
    }
  }
  .creation-block__list {
    margin-left: 20px;

    ul {
      list-style: none;
      margin: 0;

      li.item {
        position: relative;
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);
        margin-bottom: 20px;
        padding: 25px 50px 25px 53px;
        overflow: hidden;
        max-height: 600px;
        @include transition(max-height .6s ease-in-out 0s, margin-bottom .4s ease-in-out .2s, padding .4s ease-in-out .2s);
        &:before {
          content: '';
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 3px;
          z-index: 1;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: -50px;
          left: -10px;
          width: 150px;
          height: 130px;
          opacity: 0.04;
        }

        &.twitter {
          &:before {
            background: $twitter;
          }
          &:after {
            background: url('../assets/images/twitter.png') no-repeat;
            background-position: center center;
            background-size: contain;
          }
        }
        &.instagram {
          &:before {
            @include background(linear-gradient(to bottom, #405DE6, $instagram, #F56040, #FFDC80));
          }
          &:after {
            background: url('../assets/images/instagram.png') no-repeat;
            background-position: center center;
            background-size: contain;
          }
        }
        &.checked {
          .options {
            max-height: 100px;
            transition: max-height .5s ease 0s;
          }
        }
        &.saved {
          margin-bottom: 0;
          padding: 0 50px 0 53px;
          max-height: 0;
        }

        .guidelines {
          position: relative;
          float: left;
          width: 100%;
          margin-bottom: 25px;
          padding-bottom: 25px;
          border-bottom: 1px solid $border-grey;
          z-index: 1;

          .guidelines__datetime {
            .date, .time {
              position: relative;
              padding-left: 40px;
              &:before {
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                margin-top: -10px;
                left: 0;
                width: 20px;
                height: 20px;
                vertical-align: middle;
              }
            }
            .date {
              margin-bottom: 25px;
              &:before {
                background: url('../assets/images/calendar.png') no-repeat;
                background-position: center;
                background-size: auto 20px;
              }
            }
            .time {
              &:before {
                background: url('../assets/images/time.png') no-repeat;
                background-position: center;
                background-size: auto 20px;
              }

              span {
                &:after {
                  content: '\00a0/\00a0';
                }
              }
            }

            p {
              font-size: 14px;
              font-weight: $font-regular;
              color: $darkblue;
              line-height: 23px;
              letter-spacing: 0.2px;
              margin: 0;

              span {
                font-weight: $font-semibold;
                &:last-of-type() {
                  &:after {
                    content: '';
                  }
                }
                &:after {
                  content: ',\00a0';
                  position: relative;
                  display: inline-block;
                }
              }
            }
          }
          .guidelines__checklist {
            ul {
              list-style: none;
              margin: 0;

              li {
                font-size: 14px;
                font-weight: $font-regular;
                color: #9DA6BA;
                line-height: 23px;
                letter-spacing: 0.2px;
                margin-top: 16px;
                transition: $transition;
                &:first-child {
                  margin-top: 0;
                }
                &:before {
                  content: '';
                  position: relative;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  vertical-align: middle;
                  top: -1px;
                  margin-right: 20px;
                  background: url('../assets/images/check-guidelines.png') no-repeat;
                  background-position: center;
                  background-size: contain;
                  transition: $transition;
                }
                &.checked {
                  color: $darkblue;
                  &:before {
                    background: url('../assets/images/check-guidelines-active.png') no-repeat;
                    background-position: center;
                    background-size: contain;
                  }
                }

                b {
                  font-weight: $font-semibold;
                }
              }
            }
          }
        }
        .skeleton {
          position: relative;
          float: left;
          width: 100%;
          z-index: 1;

          form {
            position: relative;
            display: table;
            width: 100%;

            .columns {
              position: relative;
              display: table-cell;
              vertical-align: middle;
              float: none;
            }
            textarea, input {
              margin: 0 0 25px 0;
              padding: 0;
              background: $white;
              border: none;
              box-shadow: none;
              border-left: 1px solid rgba($darkblue, 0.25);
              border-bottom: 1px solid rgba($darkblue, 0.25);
              border-radius: 2px;
              font-size: 14px;
              font-weight: $font-regular;
              color: $darkblue;
              letter-spacing: 0.2px;
              &::-webkit-input-placeholder {color: rgba($darkblue, 0.75);}
              &::-moz-placeholder {color: rgba($darkblue, 0.75);}
              &:-ms-input-placeholder {color: rgba($darkblue, 0.75);}
              &:-moz-placeholder {color: rgba($darkblue, 0.75);}
            }
            textarea {
              resize: none;
              padding: 10px 20px;
              min-height: 100px;
              line-height: 26px;
            }
            input {
              padding: 0 20px;
              height: 42px;
              line-height: 42px;
              font-size: 13px;
            }

            ul.tags {
              list-style: none;
              margin: 0 0 -5px 0;

              li {
                display: inline-block;
                font-size: 12px;
                font-weight: $font-medium;
                color: $darkblue;
                background: $white;
                border: 1px solid $darkblue;
                border-radius: 2px;
                line-height: 23px;
                letter-spacing: 0.2px;
                padding: 3px 14px;
                margin-right: 4px;
                margin-bottom: 5px;
              }
            }
            .skeleton__image {
              position: relative;
              height: 250px;
              text-align: center;
              padding: 50px;
              &.image-added {
                label {
                  top: 70px;
                }
              }

              input {
                display: none;
              }
              label {
                cursor: pointer;
                z-index: 1;
                top: 0;
                transition: $transition;
                background: $darkblue;
                margin: 50px 0;

                &:hover {
                  background: lighten($darkblue, 5%);
                }
              }
              .skeleton__preview {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($blue, 0.05);
                border-radius: 5px;
                overflow: hidden;

                img {
                  min-width: 100%;
                  max-width: inherit;
                  min-height: 100%;
                  position: relative;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
        .options {
          position: relative;
          float: left;
          width: 100%;
          text-align: right;
          overflow: hidden;
          z-index: 1;
          max-height: 0;
          transition: max-height .5s ease 0s;

          .options__content {
            margin-top: 25px;
            padding-top: 25px;
            border-top: 1px solid $border-grey;

            .btn.second {
              margin-right: 15px;
            }
            form {
              position: relative;
              display: inline-block;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                right: 20px;
                background-color: rgba($blue, 0.05);
                border-radius: 5px;
              }

              > div {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin-left: 20px;
                margin-right: 20px;
                padding-right: 20px;
                border-right: 1px solid rgba($blue, 0.1);
                &:last-of-type {
                  margin-left: 0;
                  padding-right: 0;
                  border: none;
                }
                &:after {
                  content: '';
                  position: relative;
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  margin-left: 10px;
                  vertical-align: middle;
                  top: -2px;
                  background: url('../assets/images/dropdown.png') no-repeat;
                  background-position: center;
                  background-size: auto 5px;
                  transition: $transition;
                }

                select {
                  position: relative;
                  display: inline-block;
                  width: auto;
                  min-width: 120px;
                  margin: 0;
                  padding: 0;
                  background: none;
                  border: none;
                  box-shadow: none;
                  border-radius: 2px;
                  font-size: 14px;
                  font-weight: $font-regular;
                  color: $darkblue;
                  letter-spacing: 0.2px;
                  height: 40px;
                  line-height: 42px;
                  top: -1px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.inspiration-list {
  position: relative;
  margin-bottom: 20px;

  .inspiration-list__title {
    margin: 15px 0 30px 20px;

    h3 {
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: 24px;
      color: $darkblue;
      line-height: 38px;
      letter-spacing: 0.2px;
      margin-bottom: 0;

      span {
        display: inline-block;
        font-weight: $font-semibold;
        &:first-child {
          &:before {
            content: '“';
          }
        }
        &:last-of-type() {
          &:after {
            content: '.”';
          }
        }
        &.before,
        &:after {
          position: relative;
          display: inline-block;
        }
        &:after {
          content: ',\00a0';
        }
      }
    }
  }
  .inspiration-list__list {
    margin-left: 20px;

    // Filter function purpose
    &.allekanalen {
      ul li {
        display: block;
      }
    }
    &.twitter {
      ul li.twitter {
        display: block;
      }
    }
    &.instagram {
      ul li.instagram {
        display: block;
      }
    }
    // END: Filter function purpose

    ul {
      list-style: none;
      margin: 0;

      li {
        display: none;
        position: relative;
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);
        margin-bottom: 20px;
        padding: 25px 50px 25px 53px;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          bottom: -50px;
          left: -10px;
          width: 150px;
          height: 130px;
          opacity: 0.04;
        }
        &:hover,
        &.saved {
          .top .intro,
          .message {
            left: 50px;
          }
          .save {
            width: 50px;
            &:before {
              opacity: 1;
            }
          }
        }
        &.saved {
          .save {
            &:before {
              background: url('../assets/images/check-post.png') no-repeat;
              background-position: center center;
              background-size: contain;
            }
          }
        }

        &.twitter {
          &:before {
            background: url('../assets/images/twitter.png') no-repeat;
            background-position: center center;
            background-size: contain;
          }

          .save {
            background: $twitter;
          }
          .intro {
            span {
              position: relative;
              display: inline-block;
              background: $twitter;
              border-radius: 100px;
              height: 13px;
              width: 13px;
              top: 1px;
              margin-left: 4px;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background: url('../assets/images/check.png') no-repeat;
                background-position: 3px 4px;
                background-size: auto 6px;
                width: 100%;
                height: 100%;
              }
            }
          }
          .message {
            p {
              width: calc(100% - 100px);
              padding-right: 40px;
            }
          }
        }
        &.instagram {
          &:before {
            background: url('../assets/images/instagram.png') no-repeat;
            background-position: center center;
            background-size: contain;
          }

          .save {
            @include background(linear-gradient(to bottom, #405DE6, $instagram, #F56040, #FFDC80));
          }
          .top {
            figure {
              position: relative;
              width: 40px;
              border-radius: 100px;
              background: $instagram;
              &:before {
                content: '#';
                position: absolute;
                top: 1px;
                width: 100%;
                left: 1px;
                height: 100%;
                color: $white;
                font-size: 24px;
                font-weight: $font-regular;
                text-align: center;
                line-height: 40px;
              }
            }
          }
          .message {
            p {
              width: calc(100% - 200px);
              padding-right: 40px;
              vertical-align: middle;
            }
          }
        }

        .save {
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 3px;
          transition: $transition;
          &:before {
            content: '';
            position: absolute;
            display: block;
            opacity: 0;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            width: 25px;
            height: 25px;
            background: url('../assets/images/star.png') no-repeat;
            background-position: center center;
            background-size: contain;
            transition: $transition;
            transition-duration: .25s;
          }
        }
        .top {
          float: left;
          width: 100%;
          margin-bottom: 20px;

          figure {
            margin: 0 15px 0 0;
            display: inline-block;
            height: 40px;

            img {
              height: 100%;
              border-radius: 100px;
            }
          }
          .intro {
            float: left;
            position: relative;
            left: 0;
            transition: $transition;

            p {
              font-size: 16px;
              font-weight: $font-semibold;
              color: $darkblue;
              line-height: 40px;
              letter-spacing: 0.2px;
              display: inline-block;
              margin-bottom: 0;
              vertical-align: top;
            }
          }
          .details {
            float: right;
            line-height: 40px;

            > div {
              display: inline-block;
              font-weight: $font-semibold;
              color: $darkblue;
              letter-spacing: 0.2px;
              &:last-of-type() {
                margin-left: 35px;
              }
              &:after {
                content: '';
                position: relative;
                display: inline-block;
                width: 30px;
                height: 25px;
                background: url('../assets/images/heart.png') no-repeat;
                background-position: center center;
                background-size: contain;
                top: 7px;
                margin-left: 10px;
              }
            }
            .retweets {
              &:after {
                width: 33px;
                height: 20px;
                background: url('../assets/images/retweet.png') no-repeat;
                background-size: contain;
                top: 4px;
              }
            }
            .comments {
              &:after {
                width: 28px;
                height: 22px;
                background: url('../assets/images/comments.png') no-repeat;
                background-size: contain;
                top: 5px;
              }
            }
          }
        }
        .message {
          clear: both;
          position: relative;
          left: 0;
          transition: $transition;

          p {
            display: inline-block;
            font-size: 14px;
            font-weight: $font-regular;
            color: $darkblue;
            line-height: 23px;
            letter-spacing: 0.2px;
            margin-bottom: 0;
          }
          figure {
            margin: 0;
            display: inline-block;

            img {
              width: 200px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}

.introduction {
  position: relative;
  margin-bottom: 20px;

  .row {
    position: relative;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);

    .introduction__text {
      padding: 50px 0 50px 50px;

      h1 {
        font-family: $font-primary;
        font-weight: $font-bold;
        font-size: 40px;
        line-height: 40px;
        color: $darkblue;
        margin: 0 0 18px 0;
        letter-spacing: 0.4px;
      }
      h2 {
        font-family: $font-primary;
        font-weight: $font-regular;
        font-size: 19px;
        line-height: 28px;
        color: #9DA6BA;
        margin: 0 0 30px 0;
        letter-spacing: 0.2px;
      }
      blockquote {
        font-size: 14px;
        font-weight: $font-regular;
        color: $blue;
        line-height: 23px;
        margin: 0;
        padding: 5px 0 5px 20px;
        border-left: 1px solid $blue;
        letter-spacing: 0.2px;
      }
    }
    .introduction__buttons {
      text-align: right;
      padding: 50px 50px 50px 0;

      .btn {
        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
  }
}

.navigation {
  position: relative;
  background: $white;
  border-bottom: 1px solid $border-grey;
  margin-bottom: 40px;
  padding: 15px 0;
  box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);
  z-index: 1;

  .row {
    padding: 0 5px;
  }
  .logo {
    font-size: 19px;
    font-weight: $font-bold;
    color: $darkblue;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 50px;
    padding-right: 25px;
    letter-spacing: 0.2px;
    &:after {
      content: '';
      position: absolute;
      border-left: 1px solid $border-grey;
      top: 5px;
      bottom: 5px;
      right: 0;
    }

    span {
      font-weight: $font-medium;
    }
  }
  nav {
    display: inline-block;

    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }
        &.active {
          a {
            &:after {
              border-color: $blue;
              opacity: 1;
            }
            span {
              color: $blue;
            }
          }
        }
        &:hover {
          a {
            &:after {
              opacity: 1;
            }
          }
        }

        a {
          position: relative;
          display: block;
          &:after {
            content: '';
            position: absolute;
            border-top: 2px solid #6B7897;
            bottom: -16px;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: $transition;
            transition-duration: .25s;
          }
          img {
            position: relative;
            top: 0px;
            height: 20px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
            &.home {
              top: -2px;
            }
            &.search, &.post {
              top: -1px;
            }
          }
          span {
            font-size: 14px;
            font-weight: $font-semibold;
            color: $darkblue;
            line-height: 40px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }
  .profile {
    position: relative;
    display: inline-block;
    float: right;
    &:hover {
      span {
        &:after {
          @include transform(rotate(-180deg));
        }
      }
      .submenu {
        padding-top: 45px;
        opacity: 1;
        visibility: visible;
      }
    }

    img {
      height: 36px;
      width: 36px;
      border-radius: 5px;
      vertical-align: middle;
      margin-right: 10px;
      border: 2px solid $border-grey;
    }
    span {
      font-size: 14px;
      font-weight: $font-semibold;
      color: $darkblue;
      line-height: 40px;
      letter-spacing: 0.2px;
      &:after {
        content: '';
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 10px;
        vertical-align: middle;
        top: -1px;
        background: url('../assets/images/dropdown.png') no-repeat;
        background-position: center;
        background-size: auto 5px;
        transition: $transition;
      }
    }
    .submenu {
      position: absolute;
      top: 0;
      right: -12px;
      padding-top: 41px;
      opacity: 0;
      visibility: hidden;
      transition: $transition;

      ul {
        list-style: none;
        margin: 0;
        padding: 4px 20px;
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);

        li {
          display: inline-block;
          width: 100%;
          padding: 8px 0;
          border-top: 1px solid $border-grey;
          &:first-child {
            border-top: none;
          }
          &.user {
            a {
              &:hover {
                &:before {
                  background: url('../assets/images/user-active.png') no-repeat;
                  background-position: center;
                  background-size: auto 20px;
                }
              }
              &:before {
                background: url('../assets/images/user.png') no-repeat;
                background-position: center;
                background-size: auto 20px;
              }
            }
          }
          &.logoff {
            a {
              &:hover {
                &:before {
                  background: url('../assets/images/logoff-active.png') no-repeat;
                  background-position: center;
                  background-size: auto 20px;
                }
              }
              &:before {
                top: -1px;
                background: url('../assets/images/logoff.png') no-repeat;
                background-position: center;
                background-size: auto 20px;
              }
            }
          }

          a, a span {
            font-size: 14px;
            font-weight: $font-semibold;
            color: $darkblue;
            line-height: 28px;
            white-space: nowrap;
            display: inline-block;
            letter-spacing: 0.2px;
            transition: $transition;
            &:after {
              display: none;
            }
          }
          a {
            &:hover {
              color: $blue;

              span {
                color: $blue;
              }
            }
            &:before {
              content: '';
              position: relative;
              display: inline-block;
              width: 26px;
              height: 26px;
              margin-right: 15px;
              vertical-align: middle;
              transition-duration: .3s;
            }
          }
        }
      }
    }
  }
  .datetime {
    display: inline-block;
    float: right;
    margin-right: 50px;

    p {
      font-size: 14px;
      font-weight: $font-regular;
      color: $darkblue;
      line-height: 40px;
      letter-spacing: 0.2px;
      margin: 0;
    }
  }
}
