<div class="introduction">
  <div class="row">
    <div class="columns large-14">
      <div class="introduction__text">
        <h1>{{{introductionTitle}}}</h1>
        <h2>{{{introductionSubtitle}}}</h2>
        <blockquote>{{{introductionBlockquote}}}</blockquote>
      </div>
    </div>
    <div class="columns large-10 end">
      <div class="introduction__buttons">
        <a class="btn second"><span>Nieuwe zoekopdracht</span></a>
      </div>
    </div>
  </div>
</div>
