.navigation {
  position: relative;
  background: $white;
  border-bottom: 1px solid $border-grey;
  margin-bottom: 40px;
  padding: 15px 0;
  box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);
  z-index: 1;

  .row {
    padding: 0 5px;
  }
  .logo {
    font-size: 18px;
    font-weight: $font-bold;
    color: $darkblue;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 50px;
    padding-right: 25px;
    letter-spacing: 0.2px;
    &:after {
      content: '';
      position: absolute;
      border-left: 1px solid $border-grey;
      top: 5px;
      bottom: 5px;
      right: 0;
    }
  }
  nav {
    display: inline-block;

    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }
        &.active {
          a {
            &:after {
              border-color: $blue;
              opacity: 1;
            }
            span {
              color: $blue;
            }
          }
        }
        &:hover {
          a {
            &:after {
              opacity: 1;
            }
          }
        }

        a {
          position: relative;
          display: block;
          &:after {
            content: '';
            position: absolute;
            border-top: 2px solid #6B7897;
            bottom: -16px;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: $transition;
            transition-duration: .25s;
          }
          img {
            position: relative;
            top: 0px;
            height: 20px;
            width: auto;
            vertical-align: middle;
            margin-right: 10px;
            &.home {
              top: -2px;
            }
            &.search, &.post {
              top: -1px;
            }
          }
          span {
            font-size: 14px;
            font-weight: $font-semibold;
            color: $darkblue;
            line-height: 40px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }
  .profile {
    position: relative;
    display: inline-block;
    float: right;
    &:hover {
      span {
        &:after {
          @include transform(rotate(-180deg));
        }
      }
      .submenu {
        padding-top: 45px;
        opacity: 1;
        visibility: visible;
      }
    }

    img {
      height: 36px;
      width: 36px;
      border-radius: 5px;
      vertical-align: middle;
      margin-right: 10px;
      border: 2px solid $border-grey;
    }
    span {
      font-size: 14px;
      font-weight: $font-semibold;
      color: $darkblue;
      line-height: 40px;
      letter-spacing: 0.2px;
      &:after {
        content: '';
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 10px;
        vertical-align: middle;
        top: -1px;
        background: url('../assets/images/dropdown.png') no-repeat;
        background-position: center;
        background-size: auto 5px;
        transition: $transition;
      }
    }
    .submenu {
      position: absolute;
      top: 0;
      right: -12px;
      padding-top: 41px;
      opacity: 0;
      visibility: hidden;
      transition: $transition;

      ul {
        list-style: none;
        margin: 0;
        padding: 4px 20px;
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);

        li {
          display: inline-block;
          width: 100%;
          padding: 8px 0;
          border-top: 1px solid $border-grey;
          &:first-child {
            border-top: none;
          }
          &.user {
            a {
              &:hover {
                &:before {
                  background: url('../assets/images/user-active.png') no-repeat;
                  background-position: center;
                  background-size: auto 20px;
                }
              }
              &:before {
                background: url('../assets/images/user.png') no-repeat;
                background-position: center;
                background-size: auto 20px;
              }
            }
          }
          &.logoff {
            a {
              &:hover {
                &:before {
                  background: url('../assets/images/logoff-active.png') no-repeat;
                  background-position: center;
                  background-size: auto 20px;
                }
              }
              &:before {
                top: -1px;
                background: url('../assets/images/logoff.png') no-repeat;
                background-position: center;
                background-size: auto 20px;
              }
            }
          }

          a, a span {
            font-size: 14px;
            font-weight: $font-semibold;
            color: $darkblue;
            line-height: 28px;
            white-space: nowrap;
            display: inline-block;
            letter-spacing: 0.2px;
            transition: $transition;
            &:after {
              display: none;
            }
          }
          a {
            &:hover {
              color: $blue;

              span {
                color: $blue;
              }
            }
            &:before {
              content: '';
              position: relative;
              display: inline-block;
              width: 26px;
              height: 26px;
              margin-right: 15px;
              vertical-align: middle;
              transition-duration: .3s;
            }
          }
        }
      }
    }
  }
  .datetime {
    display: inline-block;
    float: right;
    margin-right: 50px;

    p {
      font-size: 14px;
      font-weight: $font-regular;
      color: $darkblue;
      line-height: 40px;
      letter-spacing: 0.2px;
      margin: 0;
    }
  }
}
