<div class="creation-block">
  <div class="row">

    <div class="columns large-6">
      <div class="creation-block__filter">
        <h4>Beschikbare kanalen</h4>
        <form>
          <div class="option">
            <input type="checkbox" id="twitter" value="twitter">
            <label for="twitter">Twitter</label>
          </div>
          <div class="option">
            <input type="checkbox" id="instagram" value="instagram">
            <label for="instagram">Instagram</label>
          </div>
        </form>
        <h4>Type post</h4>
        <form>
          <div class="option">
            <input type="radio" id="informatief" name="typePost" value="informatief">
            <label for="informatief">Informatief</label>
          </div>
          <div class="option">
            <input type="radio" id="promotie" name="typePost" value="promotie">
            <label for="promotie">Promotie</label>
          </div>
          <div class="option">
            <input type="radio" id="inhaker" name="typePost" value="inhaker">
            <label for="inhaker">Inhaker</label>
          </div>
          <div class="option">
            <input type="radio" id="milestone" name="typePost" value="milestone">
            <label for="milestone">Milestone</label>
          </div>
          <div class="option">
            <input type="radio" id="vraagPoll" name="typePost" value="vraag-poll">
            <label for="vraagPoll">Vraag/poll</label>
          </div>
          <div class="option">
            <input type="radio" id="feit" name="typePost" value="feit">
            <label for="feit">Feit</label>
          </div>
        </form>
        <a class="confirm btn disabled" href="#"><span>Bevestig</span></a>
      </div>
    </div>

  </div>
</div>
