<div class="navigation">
  <div class="row">
    <div class="columns large-14">
      <a class="logo" href="#">Logo</a>
      <nav>
        <ul>
          {{#if search}}
          <li class="active"><a href="index.php"><img class="search" src="assets/images/search-active.png" alt="Nieuwe zoekopdracht"><span>Nieuwe zoekopdracht</span></a></li>
          <li><a href="newpost.php"><img class="post" src="assets/images/post.png" alt="Nieuwe post"><span>Nieuwe post</span></a></li>
          {{/if}}
          {{#if newpost}}
          <li><a href="index.php"><img class="search" src="assets/images/search.png" alt="Nieuwe zoekopdracht"><span>Nieuwe zoekopdracht</span></a></li>
          <li class="active"><a href="newpost.php"><img class="post" src="assets/images/post-active.png" alt="Nieuwe post"><span>Nieuwe post</span></a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
    <div class="columns large-10 end">
      <div class="profile">
        <img src="assets/images/hackastory.jpg" alt="Hackastory">
        <span>Hackastory</span>
        <div class="submenu">
          <ul>
            <li class="user"><a href="#"><span>Bedrijfsprofiel</span></a></li>
            <li><a href="#"><span>Uitloggen</span></a></li>
          </ul>
        </div>
      </div>
      <div class="datetime"></div>
    </div>
  </div>
</div>
