<div class="navigation">
  <div class="row">
    <div class="columns large-17">
      <a class="logo">Logo</a>
      <nav>
        <ul>
          <li><a href="#"><img class="home" src="assets/images/home.png" alt="Home"><span>Home</span></a></li>
          <li><a href="#"><img class="user" src="assets/images/user.png" alt="Bedrijfsprofiel"><span>Bedrijfsprofiel</span></a></li>
          <li class="active"><a href="#"><img class="search" src="assets/images/search.png" alt="Nieuwe zoekopdracht"><span>Nieuwe zoekopdracht</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="columns large-7 end">
      <a class="profile">
        <img src="assets/images/hackastory.jpg" alt="Hackastory">
        <span>Hackastory</span>
      </a>
      <div class="datetime"></div>
    </div>
  </div>
</div>
