<div class="breadcrumbs">
  <div class="row">
    <div class="columns">
      <div class="breadcrumbs__phases">
        <a class="breadcrumbs__back btn second"><span>Terug naar home</span></a>
        <ul>
          <li><span></span>Bedrijfsprofiel</li>
          <li><span></span>Zoekvoorkeuren</li>
          <li class="current"><span></span>Inspiratiebronnen</li>
        </ul>
      </div>
    </div>
  </div>
</div>
