<div class="inspiration-list">
  <div class="row">
    <div class="columns large-6">
      <div class="inspiration-list__filter">
        <h4>Specificeer de selectie</h4>
        <form class="hide">
          <div class="option">
            <input type="checkbox" id="allekanalen" value="allekanalen" checked>
            <label for="allekanalen">Alle kanalen</label>
          </div>
          <div class="option">
            <input type="checkbox" id="twitter" value="twitter">
            <label for="twitter">Twitter</label>
          </div>
          <div class="option">
            <input type="checkbox" id="instagram" value="instagram">
            <label for="instagram">Instagram</label>
          </div>
        </form>
      </div>
    </div>
    <div class="columns large-18 end">
      <div class="inspiration-list__message hide"></div>
      <div class="inspiration-list__list">
        <!-- Generated content from Javascript -->
      </div>
    </div>
  </div>
</div>
