<div class="inspiration-list">
  <div class="row">
    <div class="columns large-18">
      <div class="inspiration-list__list">
        <!-- Generated content from Javascript -->
      </div>
    </div>
  </div>
</div>
