.inspiration-list {
  position: relative;
  margin-bottom: 20px;

  .inspiration-list__title {
    margin: 15px 0 30px 20px;

    h3 {
      font-family: $font-primary;
      font-weight: $font-regular;
      font-size: 24px;
      color: $darkblue;
      line-height: 38px;
      letter-spacing: 0.2px;
      margin-bottom: 0;

      span {
        display: inline-block;
        font-weight: $font-semibold;
        &:first-child {
          &:before {
            content: '“';
          }
        }
        &:last-of-type() {
          &:after {
            content: '.”';
          }
        }
        &.before,
        &:after {
          position: relative;
          display: inline-block;
        }
        &:after {
          content: ',\00a0';
        }
      }
    }
  }
  .inspiration-list__list {
    margin-left: 20px;

    // Filter function purpose
    &.allekanalen {
      ul li {
        display: block;
      }
    }
    &.twitter {
      ul li.twitter {
        display: block;
      }
    }
    &.instagram {
      ul li.instagram {
        display: block;
      }
    }
    // END: Filter function purpose

    ul {
      list-style: none;
      margin: 0;

      li {
        display: none;
        position: relative;
        background: $white;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba($darkblue, 0.08);
        margin-bottom: 20px;
        padding: 25px 50px 25px 53px;
        overflow: hidden;
        &:hover {
          .top .intro,
          .message {
            left: 50px;
          }
          .save {
            width: 50px;
            &:before {
              opacity: 1;
            }
          }
        }
        &:before {
          content: '';
          position: absolute;
          bottom: -50px;
          left: -10px;
          width: 150px;
          height: 130px;
          opacity: 0.04;
        }

        &.twitter {
          &:before {
            background: url('../assets/images/twitter.png') no-repeat;
            background-position: center center;
            background-size: contain;
          }

          .save {
            background: $twitter;
          }
          .intro {
            span {
              position: relative;
              display: inline-block;
              background: $twitter;
              border-radius: 100px;
              height: 13px;
              width: 13px;
              top: 1px;
              margin-left: 4px;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background: url('../assets/images/check.png') no-repeat;
                background-position: 3px 4px;
                background-size: auto 6px;
                width: 100%;
                height: 100%;
              }
            }
          }
          .message {
            p {
              width: calc(100% - 100px);
              padding-right: 40px;
            }
          }
        }
        &.instagram {
          &:before {
            background: url('../assets/images/instagram.png') no-repeat;
            background-position: center center;
            background-size: contain;
          }

          .save {
            @include background(linear-gradient(to bottom, #405DE6, $instagram, #F56040, #FFDC80));
          }
          .top {
            figure {
              position: relative;
              width: 40px;
              border-radius: 100px;
              background: $instagram;
              &:before {
                content: '#';
                position: absolute;
                top: 1px;
                width: 100%;
                left: 1px;
                height: 100%;
                color: $white;
                font-size: 24px;
                font-weight: $font-regular;
                text-align: center;
                line-height: 40px;
              }
            }
          }
          .message {
            p {
              width: calc(100% - 200px);
              padding-right: 40px;
              vertical-align: middle;
            }
          }
        }

        .save {
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 3px;
          transition: $transition;
          &:before {
            content: '';
            position: absolute;
            display: block;
            opacity: 0;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            width: 25px;
            height: 25px;
            background: url('../assets/images/star.png') no-repeat;
            background-position: center center;
            background-size: contain;
            transition: $transition;
            transition-duration: .25s;
          }
        }
        .top {
          float: left;
          width: 100%;
          margin-bottom: 20px;

          figure {
            margin: 0 15px 0 0;
            display: inline-block;
            height: 40px;

            img {
              height: 100%;
              border-radius: 100px;
            }
          }
          .intro {
            float: left;
            position: relative;
            left: 0;
            transition: $transition;

            p {
              font-size: 16px;
              font-weight: $font-semibold;
              color: $darkblue;
              line-height: 40px;
              letter-spacing: 0.2px;
              display: inline-block;
              margin-bottom: 0;
              vertical-align: top;
            }
          }
          .details {
            float: right;
            line-height: 40px;

            > div {
              display: inline-block;
              font-weight: $font-semibold;
              color: $darkblue;
              letter-spacing: 0.2px;
              &:last-of-type() {
                margin-left: 35px;
              }
              &:after {
                content: '';
                position: relative;
                display: inline-block;
                width: 30px;
                height: 25px;
                background: url('../assets/images/heart.png') no-repeat;
                background-position: center center;
                background-size: contain;
                top: 7px;
                margin-left: 10px;
              }
            }
            .retweets {
              &:after {
                width: 33px;
                height: 20px;
                background: url('../assets/images/retweet.png') no-repeat;
                background-size: contain;
                top: 4px;
              }
            }
            .comments {
              &:after {
                width: 28px;
                height: 22px;
                background: url('../assets/images/comments.png') no-repeat;
                background-size: contain;
                top: 5px;
              }
            }
          }
        }
        .message {
          clear: both;
          position: relative;
          left: 0;
          transition: $transition;

          p {
            display: inline-block;
            font-size: 14px;
            font-weight: $font-regular;
            color: $darkblue;
            line-height: 23px;
            letter-spacing: 0.2px;
            margin-bottom: 0;
          }
          figure {
            margin: 0;
            display: inline-block;

            img {
              width: 200px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
